@import url('https://fonts.googleapis.com/css2?family=Matter:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "tailwind-animate";

@theme {
  /* Color system */
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  
  /* Primary colors */
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  
  /* Blue colors */
  --color-blue-primary: #15B1FB;
  --color-blue-sec: #002366;
  
  /* Secondary colors */
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  
  /* State colors */
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  
  /* Hero colors */
  --color-hero-start: hsl(var(--hero-gradient-start));
  --color-hero-end: hsl(var(--hero-gradient-end));
  
  /* Grey colors */
  --color-grey-primary: #F1F5F9;
  --color-grey-base: #161616;
  --color-grey-muted: #F7F7F7;
  --color-grey-sec: #959595
  
  /* Border radius */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  
  /* Container */
  --container-2xl: 1400px;
  --breakpoint-xs: 30rem; /* 480px */

  
  /* Font family */
  --font-matter: "Matter", "sans-serif";
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 15% 20%;

    --card: 0 0% 100%;
    --card-foreground: 220 15% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 15% 20%;

    --primary: 25 75% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 15% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 220 10% 45%;

    --accent: 25 75% 47%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    /* --ring: 25 75% 47%; */
    --ring: 240 100% 20%;

    --radius: 0.5rem;

    --hero-gradient-start: 220 20% 30%;
    --hero-gradient-end: 220 25% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


html {
  height: 100%;
}
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font-family: "Matter", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 400;
  background-color: #ffffff;
  color: #161616; 
  text-align: left;
  line-height: 1.5; /* 24px */
  letter-spacing: 0%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
  letter-spacing: -4%;
}

/* Mobile First Approach (16px = 1rem) */
h1 {
  font-size: 2.25rem; /* 36px */
  font-weight: 500;
}

h2 {
  font-size: 1.875rem; /* 30px */
  font-weight: 500;
}

h3 {
  font-size: 1.5rem; /* 24px */
  font-weight: 500;
}

h4 {
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
}

h5 {
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
  
}

h6 {
  font-size: 1rem; /* 16px */
  font-weight: 500;
}

/* Desktop Styles */
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem; /* 60px */
    
  }
  h2 {
    font-size: 3rem; /* 48px */
    
  }

  h3 {
    font-size: 2.25rem; /* 36px */
   
   
  }

  h4 {
    font-size: 2rem; /* 32px */
    
    
  }

  h5 {
    font-size: 1.5rem; /* 24px */

   
  }

  h6 {
    font-size: 1.25rem; /* 20px */
    
   
  }
  body {
  font-size: 0.875rem;
  color: #161616; 
  text-align: left;
  overflow-x: hidden;
}
}


/* Completely hide scrollbar but keep scrolling */
.noScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom styled scrollbar */
.customScrollbar::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: #161616;
  border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
